:root{
    --primary-color: #053160;
    --secondary-color: #031E3C;
    --terciary-color: #FFC80B;
    --button-height: 92px;

    --slider-position: 10%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    min-height: 100vh;
}

html {
    background-color: var(--secondary-color);
}

body {
    display: flex;
    background-color: var(--primary-color);
    max-width: 800px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
}

button {
    border: none;
    background-color: transparent;
    color: var(--terciary-color);
    cursor: pointer;
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    font-weight: bold;
    flex:1;
}

#info {
    display: flex;
    height: var(--button-height)
}

#menu {
    display: flex;
    height: var(--button-height)
}

#controller {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    align-items: center;
}

#controller > button {
    width: 30px;
    height: 100px;
}

#volume {
    width: 100%;
    display: flex;
    flex: 1;
}

input[type="range"]{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.range{
    position: relative;
    display: flex;
    flex: 1;
}

.range-bar{
    flex: 1;
    width: 100%;
    transform-origin: left;
    transform: scaleX(0.5);
    background-color: var(--terciary-color);
    pointer-events: none;
}




